# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build files
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.sln
*.vcxproj*

# Compiled binaries
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.lib

# IDE files
.idea/
.vscode/
*.log

# Shaders (compiled)
*.spv
